:root{
    --color-elements:#000000;
}


main, .background {
    /* height: 120vh; */
    overflow-y: hidden;
    height: 100%!important;
    padding-bottom: 20px;
}
/* 
.main{
    border: 2px solid #F6C0DA ;
    background: rgba(255, 255, 255, 0.217);
}
 */
.esconder{
    font-size: 1px !important;
    color: transparent !important;
    text-shadow: none !important;
}

.sello{
    top: 350px !important;
}

/* CAMBIAR EL BACKGROUND */
.background{
    background: url(../media/backgrounds/Graduacion.jpg);
    background-size: cover;
    background-position: center;
    animation: moveBackgorund 60s infinite;
}

@keyframes moveBackgorund {
    0%{
        background-position:0px 0px;
    }
    50%{
        background-position:-1500px 0px;
    }
    100%{
        background-position:0px 0px;
    }
}

:root{
    --shadow: 0px 2px 2px #ffffff, 0px -2px 2px #ffffff, 2px 0px 2px #ffffff, -2px -0px 2px #ffffff;
    --shadow2: 0px 2px 2px #053BA3, 0px -2px 2px #053BA3, 2px 0px 2px #053BA3, -2px -0px 2px #053BA3;
    --shadow3: 0px 2px 2px #000000, 0px -2px 2px #000000, 2px 0px 2px #000000, -2px -0px 2px #000000;

}

.descripcion{
    width: 90%;
    padding: 0px;
    margin-bottom: -10px;
    font-size: 14px;
}


.titulo{
    margin-top: -20px;
}

/* NOMBRE */
.titulo h1{
    font-size: 46px;
    color: #DBAC51;
    text-shadow: var(--shadow3);
    text-align: center;
    line-height: 1.2;
}

/* CUMPLE */
.titulo h2{
    color: #000000;
    font-size: 20px;
    text-shadow: var(--shadow);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
/* IMAGEN NUMERO */
.titulo img{
    width: 200px;
    margin-top: 0px;
    margin-bottom: -10px;
}

/* FECHA */
.fecha span{
    color: #000000;
    text-shadow: var(--shadow);
}
.countdown-container{
    border: 4px solid var(--color-elements);
    background: rgba(255, 255, 255, 0.664); /* Fondo translúcido */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Sombra suave */
    -webkit-backdrop-filter: blur(50px); /* Fondo desenfocado */
    color: var(--color-elements);
}

.faltan div{
    background-color: var(--color-elements);
    color: #ffffff;
    transform: translateY(15px);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* VESTIMENTA */
.vestimenta img{
    width: 80px;
}

.vestimenta span{
    color: #000000;
    text-shadow: var(--shadow);
}

/* Salón Belanova */
.descripcion span{
    color: #000000;
    width: 90%;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    text-shadow: var(--shadow);
}

/* BOTONES */
.buttons a{
    color: #ffffff;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: #DBAC51;
    gap: 5px;
}

/* lEYENDA */
.leyenda span{
    color: #000000;
    text-shadow: var(--shadow);
    font-size: 26px;
    text-align: center;
    line-height: 1.2;
}





/* REPRODUCTOR */
/* bolita */
input[type=range]::-webkit-slider-thumb {
    background-color: #e2e2e2c9;
    width: 20px;
    height: 20px;
    border: 3px solid var(--color-elements);
    border-radius: 50%;
    margin-top: -9px;
}
/* barra */
input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--color-elements) !important;
    height: 4px;
}
/* boton Play Pause */
#play-pause-button{
    background-color: rgba(236, 236, 236, 0.678) !important;
}
/* svg play */
.icon-tabler-player-play-filled path:nth-child(2){
    fill: var(--color-elements); 
}
  /* svg pause */
.icon-tabler-player-pause-filled  path:nth-child(2), .icon-tabler-player-pause-filled path:nth-child(3){
    fill: var(--color-elements); 
}





/* DECORATIONS */
.img1{
    width: 200px;
    left: -55px;
    /* transform: translateY(100px) translateX(-150px) rotate(20deg); */
    animation: img1Animate 9s infinite;
}

.img2{
    width: 200px;
    right: -55px;
    /* transform: translateY(100px) translateX(200px) rotate(-35deg); */
    animation: img2Animate 12s infinite;
}

.img3{
    width: 170px;
    right: -10px;
    /* transform: translateY(20px) translateX(90px) rotate(-35deg); */
    animation: img3Animate 10s infinite;
}

.img4{
    width: 170px;
    left: -20px;
    z-index: -1;
    /* transform: translateY(50px) translateX(-150px) rotate(20deg); */
    animation: img4Animate 12s infinite;
}

.vuelo{
    width: 100px;
    right: -10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    /* transform: translateY(100px) translateX(-150px) rotate(20deg); */
    animation: volarAnimate 18s infinite;
}

.vuelo2{
    width: 100px;
    right: -10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /* transform: translateY(100px) translateX(-150px) rotate(20deg); */
    animation: volar2Animate 16s infinite;
}

.vuelo3{
    width: 100px;
    right: -10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /* transform: translateY(100px) translateX(-150px) rotate(20deg); */
    animation: volar3Animate 14s infinite;
}


@keyframes volar2Animate {
    0%{
        transform: translate(-200px,-1220px) rotate(-15deg);
    }
    50%{
        transform: translate(100px,150px)rotate(15deg);
    }
    51%{
        transform: translate(100px,150px) scaleX(-1) rotate(15deg);
    }
    100%{
        transform: translate(-200px,-1220px) scaleX(-1) rotate(-15deg)
    }
}

@keyframes volarAnimate {
    0%{
        transform: translate(-800px,-220px) rotate(-15deg);
    }
    50%{
        transform: translate(100px,-1200px)rotate(15deg);
    }
    51%{
        transform: translate(100px,-1200px) scaleX(-1) rotate(15deg);
    }
    100%{
        transform: translate(-800px,-220px) scaleX(-1) rotate(-15deg)
    }
}

@keyframes volar3Animate {
    0%{
        transform: translate(-800px,-220px) rotate(-15deg);
    }
    50%{
        transform: translate(800px,-650px)rotate(15deg);
    }
    51%{
        transform: translate(800px,-650px) scaleX(-1) rotate(15deg);
    }
    100%{
        transform: translate(-800px,-220px) scaleX(-1) rotate(-15deg)
    }
}

@keyframes img1Animate {
    0%{
        transform: translateY(190px) rotate(10deg);
    }
    50%{
        transform: translateY(-50px) rotate(-10deg);
    }
    100%{
        transform: translateY(190px) rotate(10deg);
    }
}


@keyframes img2Animate {
    0%{
        transform: translateY(170px) rotate(-5deg);
    }
    50%{
        transform: translateY(-50px) rotate(5deg);
    }
    
    100%{
        transform: translateY(170px) rotate(-5deg);
    }
}


@keyframes img3Animate {
    0%{
        transform: translateY(20px) rotate(-10deg);
    }
    50%{
        transform: translateY(-200px) rotate(10deg);
    }
    100%{
        transform: translateY(20px) rotate(-10deg);
    }
}

@keyframes img4Animate {
    0%{
        transform: translateY(20px) rotate(10deg);
    }
    50%{
        transform: translateY(-150px) rotate(-10deg);
    }
    100%{
        transform: translateY(20px) rotate(10deg);
    }
}